/* $Id: zen.css,v 1.14.2.1 2009/02/13 07:46:04 johnalbin Exp $ */

/*
 * ZEN STYLES
 *
 * This is an example stylesheet. Sub-themes should NOT include the zen/zen.css
 * file, but instead copy this CSS to their own stylesheets.
 *
 * In this stylesheet, we have included all of the classes and IDs from this
 * theme's tpl.php files. We have also included many of the useful Drupal core
 * styles to make it easier for theme developers to see them.
 *
 * Many of these styles are over-riding Drupal's core stylesheets, so if you
 * remove a declaration from here, the styles may still not be what you want
 * since Drupal's core stylesheets are still styling the element. See the
 * drupal6-reference.css file for a list of all Drupal 5.x core styles.
 *
 * In addition to the style declarations in this file, other Drupal styles that
 * you might want to override or augment are those for:
 *
 *   Book Navigation  See line 74  of Zen's drupal6-reference.css file
 *   Forum            See line 197 of Zen's drupal6-reference.css file
 *   Menus            See line 667 of Zen's drupal6-reference.css file
 *   News Aggregator  See line 20  of Zen's drupal6-reference.css file
 *   Polls            See line 287 of Zen's drupal6-reference.css file
 *   Search           See line 320 of Zen's drupal6-reference.css file
 *   User Profiles    See line 945 of Zen's drupal6-reference.css file
 */


/** body **/
* { 
   padding:0;
   margin:0;
    } 

ol { 
margin-left: 1em;
     }

  body
  {
    margin: 0;
    padding: 0px;
    background: url(images/head_bk.png) repeat-x scroll 0 0 #1c1c1c;
    color: #fff; /* to be overridden? */
  }
  body.admin-menu{
  	background: url(images/head_bk.png) repeat-x scroll 0 20px #1c1c1c;
  }
  #page
  {
  }

  #page-inner
  {
  }

/** header **/
  #header
  {
  }

  #header-inner
  {
  }

  #logo-title /* Wrapper for logo, website name, and slogan */
  {
   /* float: left;*/
  }

  #logo /* Wrapper for logo */
  {
    margin: 0 0 0 0;
    padding: 0;
    outline: none;
    float: left;
  }

  #logo-image /* The actual logo image */
  {

   margin: 0px;
   padding: 0px;
  }




  h1#site-name, div#site-name /* The name of the website */
  {
    margin: 0;
    font-size: 2em;
    line-height: 1.3em;
  }

  #site-name a:link,
  #site-name a:visited
  {
    color: #000;
    text-decoration: none;
  }

  #site-name a:hover
  {
    text-decoration: underline;
  }

  #site-slogan /* The slogan (or tagline) of a website */
  {
  }

  #header-blocks /* Wrapper for any blocks placed in the header region */
  {
  }

  #main-nav
  {  
    /*float: left;*/
    margin-top: -5px;
    padding: 0px;

    overflow: hidden;
    color: #fff;
    height: 300px;
    width: 240px;
  }

#main-nav ul
{ 
 /* list-style: none;*/
}

#main-nav li
{ 
  /*
  border: 1px solid white;
  height: 60px;
  width: 150px;
  margin-top: -15px;*/
 }

#main-nav li:hover
{ 
  /*
  background: #f39800;
*/
 }


/** main (container for everything else) **/
  #main
  {
	clear: both;
  }

  #main-inner
  {
  }

/** content **/
  #content
  {
  }

  #content-inner
  {
  }

  #mission /* The mission statement of the site (displayed on homepage) */
  {
  }

  #content-top /* Wrapper for any blocks placed in the "content top" region */
  {
  }

  #content-header /* Wrapper for breadcrumb, title, messages, tabs, and help */
  {
  }

  .breadcrumb /* The path to the current page in the form of a list of links */
  {
    margin-top: 5px;
    font-size: .9em;
    padding-bottom: 0; /* Undo system.css */
  }

  h1.title, /* The title of the page */
  h2.title, /* Block title or the title of a piece of content when it is given in a list of content */
  h3.title /* Comment title */
  {
    margin: 0;
  }

  div.messages /* Important messages (status, warning, and error) for the user */
  {
   background-color: #333;
   border: 1px solid #666;
   color: #000;
  }

  div.status /* Normal priority messages */
  {
   background-color: #333;
   border: 1px solid #666; 
   color: #000; 
  }
  

  div.warning, tr.warning /* Medium priority messages */
  {
    /* border: 1px solid #f0c020; */ /* Drupal core uses: 1px solid #f0c020 */
  }

  div.error, tr.error /* High priority messages. See also the .error declaration below. */
  {
  }

  div.tabs /* See also the tabs.css file. */
  {
  }

  .help /* Help text on a page */
  {
    margin: 1em 0;
  }

  .more-help-link /* Link to more help */
  {
    font-size: 0.85em;
    text-align: right;
  }

  #content-area /* Wrapper for the actual page content */
  {
  }

  .pager /* A list of page numbers when more than 1 page of content is available */
  {
    clear: both;
    margin: 1em 0;
    text-align: center;
  }

  .pager a, .pager strong.pager-current
  {
    padding: 0.5em;
  }

  .feed-icons /* The links to the RSS or Atom feeds for the current list of content */
  {
    margin: 1em 0;
  }

  #content-bottom /* Wrapper for any blocks placed in the "content bottom" region */
  {
  }

/** navbar **/
  #navbar
  {
    color: #fff;
    height: 28px;
  
    padding-top: 0px;
    margin-bottom: -20px;
    border-top: 1px solid #333;
    /*border-bottom: 1px solid #333;*/
    font-weight: bold;
 }

#navbar-inner ul { 
   
 }


#navbar-inner li{
   
   /*height: 28px;
   width: auto;
   padding-top: 5px;
   padding-bottom: 7px; 
   margin-bottom: 5px;
   padding-left: 0px;
   padding-right: 0px;*/
   line-height: 0.8em;
   font-size: 1em;
   list-style: none;
   margin-right: -10px; 
   margin-left: 0px;                 
 }

#navbar-inner a { 
   display: block;
    height: 28px;
   color: #fff;
   /*padding: 0.8em 10px;*/
   padding: 10px 10px;
   /*margin-right: -3px;*/
                  
   /*border-right: 1px dotted #333;*/
 }

#navbar a.active { 
   color: #fff;
   background: #f39800 none repeat scroll 0 0;
 } 

#navbar-inner a:hover{ 
  color: #fff;
  background: #f39800 none repeat scroll 0 0;
                       
} 


#navbar-inner li:hover{ 
  /*color: #fff;*/
  /*background: #f60; */


 }

  #navbar-inner
  {
padding-bottom: 10px;
  }

  #search-box /* Wrapper for the search form */
  {
    background: url(images/sok_left.png) no-repeat transparent;
    height: 26px;
    padding-left: 12px;
    margin-top: 10px;
  }
  #search-box.focuson{
  	background: url(images/sok_left_on.png) no-repeat transparent;
  }
  #edit-search-theme-form-1-wrapper{
    background: url(images/sok_main.png) transparent;
    height: 26px;
    float: left;
    margin: 0px;
    width: 162px;
  }
  .focuson #edit-search-theme-form-1-wrapper{
  	background: url(images/sok_main_on.png) transparent;
  }
  #search-box #search{
    
}
  #search-box input.form-text{
    background: transparent;
    border:  none;
    margin: 4px 0;
    height: 18px;
  }
  #search-box input.form-text:focus{
    -moz-border-radius: 15px;
    background: #ffffff;

  }
  #edit-search-theme-form-1-wrapper label /* Label that says "Search this site:" */
  {
    display: none;
  }

  #primary /* Primary links */
  {
  }

  #secondary /* Secondary links */
  {
  }

/** sidebar-left **/
  #sidebar-left
  {
  }

  #sidebar-left-inner
  {
  }

/** sidebar-right **/
  #sidebar-right
  {
    display: block;
    font-size: 0.8em;
    color: #666;
    padding-top: 0px;
  }

  #sidebar-right-inner
  {
  }

/** footer **/
  #footer
  {
    width: 100%;
    clear: both;
    margin-top: 22px;
  }

  #footer-inner
  {
   padding-top: 40px;
   padding-bottom: 40px;
  }

  #footer-message /* Wrapper for the footer message from Drupal's "Site information"
                     and for any blocks placed in the footer region */
  {
    clear: both;
    border-top: 2px #666;
  }

/** closure **/
  #closure-blocks /* Wrapper for any blocks placed in the closure region */
  {
    display: none;
    width: 100%;
    height: 100%;
    color: #999;
    background: #333;
    font-size: 0.7em;
    text-align: right;
  }

/** Drupal nodes **/
  .node /* Node wrapper */
  {
  }

  .node-inner /* Additional wrapper for node */
  {
  }

  .sticky /* A sticky node (displayed before others in a list) */
  {
  }

  .node-unpublished /* Unpublished nodes */
  {
    /* background-color: #fff4f4; */ /* Drupal core uses a #fff4f4 background */
  }

  .node-unpublished div.unpublished, /* The word "Unpublished" displayed beneath the content. */
  .comment-unpublished div.unpublished
  {
    height: 0;
    overflow: visible;
    color: #d8d8d8;
    font-size: 75px;
    line-height: 1;
    font-family: Impact, "Arial Narrow", Helvetica, sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    word-wrap: break-word; /* A very nice CSS3 property */
  }

  .node-mine /* A node created by the current user */
  {
  }

  .node-teaser /* A node displayed as teaser */
  {
  }

  /* All nodes are given a node-type-FOO class that describes the type of
   * content that it is. If you create a new content type called
   * "my-custom-type", it will receive a "node-type-my-custom-type" class.
   */
  .node-type-page /* Page content node */
  {
  }

  .node-type-story /* Story content node */
  {
  }

  .node h2.title /* Node title */
  {
  }

  .marker /* "New" or "Updated" marker for content that is new or updated for the current user */
  {
    color: #c00;
  }

  .node .picture /* The picture of the node author */
  {
  }

  .node.node-unpublished .picture,
  .comment.comment-unpublished .picture
  {
    position: relative; /* Otherwise floated pictures will appear below the "Unpublished" text. */
  }

  .node .meta /* Wrapper for submitted and terms data */
  {
  }

  .node .submitted /* The "posted by" information */
  {
    /* Hidden by ThJ */
    display: none;
  }

  .node .terms /* Node terms (taxonomy) */
  {
  }

  .node .content /* Node's content wrapper */
  {
  }

  .node div.links /* Wrapper for node links */
  {
    margin: 1em 0;
  }

  ul.links /* Taxonomy links, node links, comment links */
  {
    margin: 0;
    padding: 0;
  }

  ul.links.inline
  {
    display: inline;
  }

  ul.links li
  {
    display: inline;
    list-style-type: none;
    padding: 0 0.5em;
  }

  .preview .node /* Preview of the content before submitting new or updated content */
  {
    /* background-color: #ffffea; */ /* Drupal core uses a #ffffea background */
  }

/** Drupal comments **/
  #comments /* Wrapper for the list of comments and its title */
  {
    margin: 1em 0;
  }

  #comments-title /* Heading for the list of comments */
  {
  }

  .comment /* Wrapper for a single comment */
  {
  }

  .comment-inner /* Additional wrapper for a single comment */
  {
  }

  .comment-preview /* Preview of the comment before submitting new or updated comment */
  {
  }

  .comment.new /* A new comment since the user last viewed the page. */
  {
  }

  .comment.odd /* An odd-numbered comment in the list of comments */
  {
  }

  .comment.even /* An even-numbered comment in the list of comments */
  {
  }

  .comment.first /* The first comment in the list of comments */
  {
  }

  .comment.last /* The last comment in the list of comments */
  {
  }

  .comment-unpublished /* Unpublished comments */
  {
    /* background-color: #fff4f4; */ /* Drupal core uses a #fff4f4 background */
  }

  .comment-unpublished div.unpublished /* The word "Unpublished" displayed beneath the content. See also the div.unpublished declaration in the node section above. */
  {
  }

  .comment-published /* Published comments */
  {
  }

  .comment-by-anon /* A comment created by an anonymous user */
  {
  }

  .comment-by-author /* A comment created by the node's author */
  {
  }

  .comment-mine /* A comment created by the current user */
  {
  }

  .comment h3.title /* Comment title */
  {
  }

  .new /* "New" marker for comments that are new for the current user */
  {
    color: #c00;
  }

  .comment .picture /* The picture of the comment author */
  {
  }

  .comment .submitted /* The "posted by" information */
  {
 
  }

  .comment .content /* Comment's content wrapper */
  {
  }

  .comment .user-signature /* The user's signature */
  {
  }

  .comment div.links /* Wrapper for comment links. See also the ul.links declaration in the node section above. */
  {
    margin: 1em 0;
  }

  .indented /* Nested comments are indented */
  {
    /* margin-left: 25px; */ /* Drupal core uses a 25px left margin */
  }

  .preview .comment /* Preview of the comment before submitting new or updated comment */
  {
    /* background-color: #ffffea; */ /* Drupal core uses a #ffffea background */
  }

/** Drupal blocks **/
  .block /* Block wrapper */
  {
    margin-bottom: 1em;
  }

  .block.region-odd /* Zebra striping for each block in the region */
  {
  }

  .block.region-even /* Zebra striping for each block in the region */
  {
  }

  .block.odd /* Zebra striping independent of each region */
  {
  }

  .block.even /* Zebra striping independent of each region */
  {
  }

  .region-count-1 /* Incremental count for each block in the region */
  {
  }

  .count-1 /* Incremental count independent of each region */
  {
  }

  .block-inner /* Additional wrapper for block */
  {
  }

  .block h2.title /* Block title */
  {
  }

  .block .content /* Block's content wrapper */
  {
  }

  #block-aggregator-category-1 /* Block for the latest news items in the first category */
  {
  }

  #block-aggregator-feed-1 /* Block for the latest news items in the first feed */
  {
  }

  #block-block-1 /* First administrator-defined block */
  {
  }

  #block-blog-0 /* "Recent blog posts" block */
  {
  }

  #block-book-0 /* "Book navigation" block for the current book's table of contents */
  {
  }

  #block-comments-0 /* "Recent comments" block */
  {
  }

  #block-forum-0 /* "Active forum topics" block */
  {
  }

  #block-forum-1 /* "New forum topics" block */
  {
  }

  #block-menu-2 /* "Primary links" block */
  {
  }

  #block-node-0 /* "Syndicate" block for primary RSS feed */
  {
  }

  #block-poll-0 /* "Most recent poll" block */
  {
  }

  #block-profile-0 /* "Author information" block for the profile of the page's author */
  {
  }

  #block-search-0 /* "Search form" block */
  {
  }

  #block-statistics-0 /* "Popular content" block */
  {
  }

  #block-user-0 /* "User login form" block */
  {
  }

  #block-user-1 /* "Navigation" block for Drupal navigation menu */
  {
  }

  #block-user-2 /* "Who's new" block for a list of the newest users */
  {
  }

  #block-user-3 /* "Who's online" block for a list of the online users */
  {
  }

/** Drupal boxes **/
  /* Wrapper for Comment form, Comment viewing options, Menu admin, and
   * Search results.
   */
  .box /* Wrapper for box */
  {
  }

  .box-inner /* Additional wrapper for box */
  {
  }

  .box h2.title /* Box title */
  {
  }

  .box .content /* Box's content wrapper */
  {
  }

/** Miscellaneous Drupal styles **/
  .error /* Errors that are separate from div.messages status messages (see above.) */
  {
    /* color: #e55; */ /* Drupal core uses a #e55 background */
  }

  .warning /* Warnings that are separate from div.messages status messages (see above.) */
  {
    /* color: #e09010; */ /* Drupal core uses a #e09010 background */
  }

  .more-link /* Aggregator, blog, and forum more link */
  {
    text-align: right;
  }

  #user-login-form /* Drupal's default login form */
  {
    text-align: left;
    /*background: #666;
   color: #fff;*/
  }

  tr.even /* Some tables have rows marked even or odd. */
  {
    /* background-color: #eee; */ /* Drupal core uses a #eee background */
  }

  tr.odd
  {
    /* background-color: #eee; */ /* Drupal core uses a #eee background */
  }

  li a.active /* The active item in a Drupal menu */
  {
    color: #f39800;
  }


/** Drupal forms **/
  .form-item, /* Wrapper for a form element (or group of form elements) and its label */
  .form-checkboxes,
  .form-radios
  {
    color: #666;
    margin: 1em 0;
  }

  .form-item input.error, /* Highlight the form elements that caused a form submission error */
  .form-item textarea.error,
  .form-item select.error
  {
    border: 1px solid #c00;
  }

  .form-item label /* The label for a form element */
  {
    /* edited by thj */
    color: #fff;
    display: block;
    font-weight: bold;
  }

  .form-item label.option /* The label for a radio button or checkbox */
  {
    display: inline;
    font-weight: normal;
  }

  .form-required /* The part of the label that indicates a required field */
  {
    color: #c00;
  }

  .form-item .description /* The descriptive help text (separate from the label) */
  {
    color: #fff;
    font-size: 0.85em;
  }

  .form-checkboxes .form-item, /* Pack groups of checkboxes and radio buttons closer together */
  .form-radios .form-item
  {
    margin: 0.4em 0;
  }

  .form-submit /* The submit button */
  {
  }

  .container-inline div, .container-inline label /* Inline labels and form divs */
  {
    display: inline;
  }

  .tips /* Tips for Drupal's input formats */
  {
    margin: 0;
    padding: 0;
    font-size: 0.9em;
  }

/** OpenID **/
  /* The default styling for the OpenID login link seems to assume Garland's
   * styling of list items.
   */
  #user-login-form ul /* OpenID creates a new ul above the login form's links. */
  {
    margin-bottom: 0; /* Position OpenID's ul next to the rest of the links. */
  }

  #user-login-form li.openid-link, /* The "Log in using OpenID" links. */
  #user-login li.openid-link
  {
    margin-top: 1em;
    margin-left: -20px; /* Un-do some of the padding on the ul list. */
  	padding-left: 20px;
  	background-position: left center;
  }

  #user-login-form li.user-link, /* The "Cancel OpenID login" links. */
  #user-login li.user-link
  {
    margin-top: 1em;
  	list-style-type: disc;
  	list-style-position: outside;
  }

  #user-login li.openid-link, /* The OpenID links on the /user form. */
  #user-login li.user-link
  {
    margin-left: -2em; /* Un-do all of the padding on the ul list. */
  }

/** Drupal admin tables **/
  /* We overrode these styles in html-elements.css, but restore them for the
   * forms on the site.
   */

/* Custom search module, to be placed in footer. Pretty close to design. */
#search-block-form input { 
  background: #333;
  color: #999;
  border: 0px;
  text-align: left;
  font-weight: bold;
  /*margin-left: -10px;*/
  padding: 5px;
  width: 290px;
 }


  form tbody
  {
    border-top: 1px solid #ccc;
  }

  form th
  {
    text-align: left;
    padding-right: 1em;
    border-bottom: 3px solid #ccc;
  }

  form tbody th
  {
    border-bottom: 1px solid #ccc;
  }

  form thead th
  {
    text-align: left;
    padding-right: 1em;
    border-bottom: 3px solid #ccc;
  }

/* Special fields for canteen-menu */
.canteen-menu
{ 
 }

.canteen-menu-line
{ 
  
 }

.canteen-menu-name
{ 
  float: left;
  padding-right: 2em;
 }

.Canteen-menu-price
{ 


 }

.form-item
{ 
  color: #666;
 }

/* Admin custom color for /admin/build/block */
td.block { 
           color: #000;

 }

#mainlinks { 
 
 }

/* Mostly for debugging */
#bhglink { 
 margin-top: 0px;

}

#boliglink { 

 }

#kantinelink { 


 }


#idrettlink { 

 }

#radlink { 


 }

/* Height gets screwed up in EI7. Opera and Firefox is ok. */
.mainlink { 

/*  margin-left: -10px;
  margin-right: -5px;
  margin-bottom: -5px;
*/
           
 outline: none;
 margin-bottom: 0px; 
  padding: 0px;
  background: #000;

 }



.mainlink a { 
 margin-bottom: 0px;
 outline: none;
 }

#sito-header { 
 line-height: 0em;
 font-size: 0em;
 }





/* Hover works nicely because of transparent background */
.mainlink:hover {   
  background: #f39800;                
}

/* Doesnt work so far. */
.mainlink:active { 
  background: #f39800;
 }

/* Panels override, mostly font-color related */
.flexible-splitter-hover-box { 
color: #333;

}

/* Imagehandling, works for enhet and artikkel */
/* Kinda hack'ish, but it seems to work */
.field-field-smallimg a { 
   float: left;
   margin-right: 10px;
   margin-bottom: 10px;
 }

.field-field-enhetsmallimg a {  
  float: left;
  margin-right: 10px;
  margin-bottom: 10px;
}

/* Panels is doing smth wierd here */
.articleimages { 
 }

.articlefiles { 
  clear:both;

 }

.enhetsnews { 
  clear: both;

 }

.enhetsfiles { 
  clear: both;

 }

/* Override tab colors */
ul.primary li a { 
   background: #000;

 }

/* Override default block preview */
.block-region { 
   background-color: #333;
 }

.footer-block { 
   font-size: 0.8em;
   color: #eee;
 }

.footer-block h2, #block-block-11 h2 { 
  color: #666;

 }

.view-todaysmenu { 

 }

.view-todaysmenu table { 
  border-bottom: 0px;
 }

tr.odd { 
  background-color: transparent;
 }

tr.even { 
  background-color: transparent;

 }
.tabledrag-processed tr.odd{
background-color: #eee;
}
.tabledrag-processed tr.even{
background-color: #a4a4a4;
}
tr.even, tr.odd { 
  border-bottom: 0px;

 }

.title-node { 
 }

.terms { 
  display: none;
 }

#avdelingstopp { 
  /*height: 450px;*/
  overflow: visible;
 }


#avdelingstopp-main {  
 float: left;
 width: 50%;
 padding-right: 20px;
 font-weight: bold;
 /*border-bottom: 3px solid #f60;*/
 height: 100%;
}

.avdelingstopp-view {
 width: 43%;
 padding-right: 20px;
 float: left;
 /*border-bottom: 3px solid #666;*/
 height: 100%
 }

.avdelingstopp-view-left { 
 /*padding-right: 20px;*/
 }
.avdelingstopp-view h2 { 
 padding-bottom: 5px;
 }

#avdelingsbunn-main { 
 float: left;
 width: 50%;
 padding-right: 20px;
 border-bottom: 3px solid #f39800;
 margin-top: 10px;
 margin-bottom: 10px;
                      }                      

#avdelingsbunn-box { 
 width: 100%;
 padding-right: 20px;
 float: left;
 border-bottom: 3px solid #666;
 margin-top: 10px;
 margin-bottom: 10px;
                     
} 




#avdelingsenheter { 
  clear: both;
  
 }

#avdelings-spacer { 
 clear: both;
 }


#sito-header { 

   padding: 0px;

 }

#sito-header table { 
  border-collapse: collapse;
  margin: 0;
 }
 
/* Hide title defined in page.tpl.php */
.content-title { 


 }


#navbar-inner div{
 display: inline; 
 

 }

.enhethoved { 
 border-bottom: 1px solid #333;
 }

/* Cant remove blockcontent-header */
.node-type-blockcontent h2 { 
 display: none;                            
 }

.integiframe 
{ 
  background-color: #000;
  }

.integiframe p { 
 color: #fff;

 }

p.standard { 
 color: #fff;

 }

.map-lens { 
  color: #000;
 }

.map-lens h3 { 
  color: #000;
  }

/* Enhetsliste paa avdelingssidene */
.enhetlist {
  border-bottom: 1px solid #333;
  }

.enhettekst { 
  float: left;
 }

.enhetbilde { 
/* float: right;*/
  margin-top: 20px; 
 }

.enhetclear { 
 /* clear: both;*/
 }

td.active { 
  background: #222;
 }


/* Overriding tinymce's retarded tablefunction. */
.mceItemTable, .mceItemTable td, .mceItemTable th, .mceItemTable caption, .mceItemVisualAid { 
background-color: #333;
color: #fff;
border:1px dashed #BBBBBB;
  }

p.standard { 
 color: #fff;
 }


/* Enhetsvisning overrides. Styling av enhetsvisning */

#draggableview_enhetsvisning_2 tr.even { 
 background-color: transparent;
 border-bottom: 1px solid #333;                                    
 /*margin-bottom: 10px;*/
 height: 200px;
 vertical-align: top;
 overflow: visible;
 }

#draggableview_enhetsvisning_2 tr.odd { 
 background-color: transparant;
 border-bottom: 1px solid #333;
 /*margin-bottom: 10px;*/
 height: 200px;
 vertical-align: top;
 overflow: visible;                                         
} 

#draggableview_enhetsvisning_2 th { 
    border-bottom: 0px;
 }

#draggableview_enhetsvisning_2 tbody { 
    border-top: 0px;
   }

#draggableview_enhetsvisning_2 td.views-field-title { 
    padding-right: 20px;
    vertical-align: top;                                                  
 }

/* Override for avdelingsside */
td.views-field-field-enhetmainimg-fid img {  
   margin-top: 10px;
   margin-bottom: 10px;
   padding: 2px;
   border: solid 1px #333;
}


/* Overrides for footer region */
#footer-inner h2 { 
  text-transform: uppercase;
 }

#footer-inner {  
  font-size: 0.8em;

}

/* Overrides for frontpane */
.frontpane a{ 
  color: #f39800;
  text-decoration: underline dotted;
 }

.frontpane a:visited { 
  color: #f39800;
  text-decoration: none;
 }

.frontpane a:hover{ 
 color: #f39800 !important;
}

#footer-msg { 
 clear: both;
 padding-top: 10px;
 color: #999;
 margin-top: 40px;
 border-top: 1px solid #666;
 font-size: 0.8em;
 text-align: right;
 }

#footer-blocks {


 }

.field-field-enhetmainimg img { 
  padding: 2px;
  border: 1px solid #333;
 /* margin-bottom: 10px;*/
 }

.field-field-enhetmainimg { 
  width: 380px;
  /*border-bottom: 1px solid #333;*/
  margin-bottom: 10px;
  padding-bottom: 2px;
                            
} 

.field-field-mainimg img { 
  padding: 2px;
  border: 1px solid #333;
 /* margin-bottom: 10px;*/
                                
                                }
.field-field-mainimg { 
  /*border-bottom: 1px solid #333;*/
  margin-bottom: 10px;
  padding-bottom: 2px;
} 

.image-description { 
  border-bottom: 1px solid #333;
 }

.frontterm{ 
  display: none;
  font-size: 0.8em;
  color: #999; 
  line-height: 0px;
  margin-bottom: -10px;
 }

.frontterm a{  
  color: #999;
}

.frontterm a:visited { 
  color: #999;
 }

#headertop { 
 /*margin-bottom: -10px;*/
 }

#headertop div{  
 float: left;
}

#headertop .block { 
 margin: 0px;
 }

#englishlink  { 
 color: #fff;

 }

/* Menu display stuff */
.view-dagensmenyer .views-table { 
 width: 100%;
 

 }

.view-todaysmenu .views-table { 
  width: 100%;
  
 }

.ukemenydag { 
 /*float: left;*/
 width: 230px;
 min-height: 150px;
 background-color: #111;
 border: 1px solid #222;
 margin: 2px;
 padding: 5px;
 }

.ukemenydagkort { 
 width: 100%;
 background-color: #111;
 border: 1px solid #222;
 padding: 5px;
}

.ukemenydagkantine { 

 }

.ukemenyrett { 
 padding-right: 2px;
 }

.kontakttittel { 
/*font-weight: bold;
font-size: 1.2em;*/

 }

span.exhibit-cloudFacet-value-selected {
background: #333 none repeat 0 0;
text-decoration: none;
}

.view-id-dagensmeny caption{
    float: left;
    font-size: 13px;
    font-weight: bold;

}
.view-id-dagensmeny table tr{
  background: transparent;
  color: #eeeeee;
}
.view-id-dagensmeny .views-field-field-daymenu2dish-value{
  min-width: 160px;
}
.view-id-event_list h3{
  margin-bottom: 0px;
}
.view-id-event_list h3 .date-display-single{
  color: #909090;
  font-size: 13px;
}
.view-id-event_list .date-display-single{
 color: #eeeeee;
 font-size: 13px;
}
.view-id-event_list .item-list ul{
  padding: 0px;
  margin: 0px;
}
.view-id-event_list .item-list ul li{
  list-style: none;
  margin-bottom: 1em;
}
.view-id-event_list .views-field-title{
    clear: both;
    display: block;
}
.view-id-event_list .more-link{
  text-align: left;
}
.node .content strong{
  font-size: 1.2em;
}
.english-link{
  float: left;
  margin-left: 370px;
  margin-top: 20px;
}
.english-link a{
  color: #ffffff;
}
#block-block-11{
width: 220px;
float: left;
}
